.TitleBar {
    width: 100%;
    height: 211px;
    font-size: 46px;
    text-align: center;
    line-height: 120px;
    position: fixed;
    z-index: 999;
    top: 0;
    /* display: none; */
    border-bottom: 2px solid #ccc;
    background: #fff;
}
.oTitle {
    width: 100%;
    height: 168px;
    line-height: 168px;
    position: absolute;
    left: 0;
    top: 43px;
    text-align: center;
    font-size: 54px;
    color: #444;
    background: #fff;
}
.TitleBar span {
    display: block;
    width: 100%;
    height: 168px;
    line-height: 168px;
    background-color: #fff;
}
.return {
    position: absolute;
    left: 12px;
    top: 30px;
    z-index: 1000;
    width: 120px;
    height: 120px;
}
.ios {
    background-image: url(//mall-res.manboker.com/newmall/CN/goodsImg/Onlineretailers_back.png);
}
.android {
    background-image: url(//mall-res.manboker.com/newmall/CN/returnA.png);
}
a{
  
}
*{
  margin:0;
  padding:0;
}
body{
    width: 1080px;
}
a{
   text-decoration:none
}